.header{
  background-color: papayawhip;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  background-color: white;
  color: red;
}
ul {
 display: flex;
 
  gap: 10px;
}
li{
  display: inline;
}
a{
  text-decoration: none;
}